
# Secret Key and Debug Mode
SECRET_KEY=django-insecure-w4f$7rhcj3&%9-t-k58^%^pu25bbfaxfj%
DEBUG=True
ALLOWED_HOSTS=*

# CORS SETTINGS
CORS_ALLOW_CREDENTIALS=True
CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://example.com
CORS_ALLOWED_ORIGIN_REGEXES=https://.*\.example\.com
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://example.com
CORS_ALLOWED_METHODS=GET,POST,PUT,DELETE,OPTIONS


# THROTTLE SETTINGS
LOGIN_THROTTLE_RATE_PER_MINUTE=50
REGISTER_THROTTLE_RATE_PER_MINUTE=30
CHANGE_PASSWORD_THROTTLE_RATE_PER_MINUTE=20

# Email settings
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=example@ex.com
EMAIL_HOST_PASSWORD=password
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False

# OTP
OTP_CHANNEL=email
GET_OTP_THROTTLE_RATE_PER_DAY=84
OTP_LENGTH=58
OTP_EXPIRY_MINUTES=74
OTP_ALLOW_NUMBER=True
OTP_ALLOW_CAPITAL=False
OTP_ALLOW_SMALL=False
OTP_ALLOW_SPECIAL=False
MAX_ACTIVE_OTPS=78
MAX_VERIFY_ATTEMPTS=64

# JWT settings
ACCESS_TOKEN_LIFETIME_MINUTES
REFRESH_TOKEN_LIFETIME_DAYS=30

# Database settings
DB_ENGINE=django.db.backends.postgresql
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=password
DB_HOST=dt_postgres
DB_PORT=5432

# redis settings
REDIS_URL=redis://dt_redis:6379/0

# Celery
CELERY_BROKER_URL=redis://dt_redis:6379/0
CELERY_RESULT_BACKEND=redis://dt_redis:6379/0

# pgAdmin credentials
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin
