# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# ===== Virtual Environments =====
venv/
.env/
.venv/
.env

# ===== Django =====
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# ===== Migrations (optional) =====
# Uncomment if you don't want to track migrations
# */migrations/*
# !*/migrations/__init__.py

# ===== Testing =====
.coverage
htmlcov/
.pytest_cache/
.tox/

# ===== IDEs & Editors =====
.vscode/
.idea/
*.iml

# ===== OS Files =====
.DS_Store
Thumbs.db

# ===== Build / Distribution =====
build/
dist/
*.egg-info/

# ===== Docker =====
docker-compose.override.yml

# ===== Secrets =====
*.pem
*.key
secrets/

# ===== Celery =====
celerybeat-schedule
celerybeat-schedule.db



# ======= Logs =======
logs/logs_output/*

# ======= Developer Files (internal only) =======
developers_files/
.claude/
 
